header {
    transition: all 0.4s ease-in-out !important;
    
    * {
        transition: all 0.4s ease;
    }
}

.dark {
    header {
        background-color: #000;
        color: white;
        * {
            color: inherit !important;
        }

        .header__btn-1 {
            background-color: #000;
            border: 1px solid white;
        }
    }
}