@media only screen and (max-width: 376px) {
    .how {
        .how__header {
            font-size: 33px !important;
        }

        .how__item {
           padding-top: 25px !important;
        }

    

        .how__btn {
            margin-left: 23% !important;
        }

       
        .how__img{
            width: 100%;
        }


    }
}

@media only screen and (max-width: 1000px){
    .how{
        .how__item:nth-child(2n) {
            flex-direction: unset !important;
        }

        .how__item{
            justify-content: center !important;
            padding-bottom: 45px !important; 
        }
    }
}

@media only screen and (max-width: 520px){
    .how__img{
        width: 100%;
    }
}

.how {
    padding-top: 101px;
    padding-bottom: 115px;


    .how__header {
        color: #22343D;
        text-align: center;
        font-family: Poppins;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .how__list {
        padding-top: 108px;

    }

    .how__item:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .how__item {
        justify-content: space-between;

        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        padding-bottom: 70px;
        align-items: center;
    }



    .how__item__header-1 {
        color: #22343D;

        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-right: 150px;
    }

    .how__item__header-2 {
        color: #22343D;

        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .how__item__text {
        color: #22343D;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        /* 175% */
        max-width: 438px;
    }

    .how__btn {
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 8px;
        background: #02897A;
        border: none;
        padding: 11px 18px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 45%;
    }
}